{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Driver Request portal - School Van Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    body {
        background-color: #f0f0f0;
    }

    .Request-form {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    }

    .modal-content {
        border-radius: 5px;
    }

    .modal-footer {
        border-top: none;
    }
    .container-fluid {
        padding: 0;
        margin: 0;
    }
</style>
</head>
<body>
<header class="bg-primary text-white py-3">
    <div class="container text-center">
        <h1>Driver Request Portal</h1>
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
        {% if user_role == 'fee_increase' %}
            Driver Fee Increase Request</a>
        {% elif user_role == 'delay' %}
            Driver Delay Request</a>
        {% endif %}    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'driver_portal' driver.id %}">Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if messages %}
<div class="container-fluid mt-4">
    {% for message in messages %}
        <div id="alert-{{ forloop.counter }}" class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'info' %}alert-info{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <script>
            setTimeout(function() {
                document.getElementById("alert-{{ forloop.counter }}").style.display = "none";
            }, 2000); 
        </script>
    {% endfor %}
</div>
{% endif %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="Request-form">
                {% if user_role == 'fee_increase' %}
                <h2>Request For Fee Increase</h2>
                <form method="post" action="{% url 'fee_inc_req' driver.id %}" id="fee_Req_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="Reason">Reason</label>
                        <textarea class="form-control" id="reason" name="reason" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Amount">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Submit
                    </button>
                </form>
                {% elif user_role == 'delay' %}
                <h2>Request For Delay</h2>
                <form method="post" action="{% url 'delay_request' driver.id %}" id="deiver_delay_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="Reason">Reason</label>
                        <textarea class="form-control" id="reason" name="reason" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="date">date</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="form-group">
                        <label for="time">time</label>
                        <input type="time" class="form-control" id="time" name="time" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Submit
                    </button>
                </form>
                {% endif %}    
            </div>
        </div>
    </div>
</div>
</body>
</html>